
body{margin:0;padding:0;overflow-x:hidden;}
html, body{height:100%;}
img{border:none;}
*{font-size:15px;color:#626262;}
dl,dt,dd{display:block;margin:0;}
a{text-decoration:none;}


.container{
	width:100%;
	height:100%;
	margin:auto;
}

/*left*/

table.table.table-hover{
margin-top: 3px;	
}

.leftsidebar_box{
	width:160px;
	height:auto !important;
	overflow:visible !important;
	position:fixed;
	height:100% !important;
	background-color:#3992d0;
    margin-top: 54px;
    }
.line{
	height:2px;
	width:100%;
/* 	background-image:url(../images/left/line_bg.png); */
	background-repeat:repeat-x;
	}
.leftsidebar_box dt{
	padding-left:40px;
	padding-right:10px;
	background-repeat:no-repeat;
	background-position:10px center;
	color:#f5f5f5;
	font-size:14px;
	position:relative;
	line-height:48px;
	cursor:pointer;
	}
.leftsidebar_box dd{
	background-color:#317eb4;
	padding-left:40px;
	}
.leftsidebar_box dd a{
	color:#f5f5f5;
	line-height:20px;}
.leftsidebar_box dt img{
	position:absolute;
	right:10px;
	top:20px;}
.system_log dt{background-image:url(../images/left/system.png)}
.custom dt{background-image:url(../images/left/custom.png)}
.channel dt{background-image:url(../images/left/channel.png)}
.app dt{background-image:url(../images/left/app.png)}
.cloud dt{background-image:url(../images/left/cloud.png)}
.syetem_management dt{background-image:url(../images/left/syetem_management.png)}
.source dt{background-image:url(../images/left/source.png)}
.statistics dt{background-image:url(../images/left/statistics.png)}
.leftsidebar_box dl dd : last-child{padding-bottom:10px;}

/*pageheader*/
#page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 54px;
    z-index: 5;
    background: #5bc0de;
}



/* .login_part{
	float: right;
	background-color: #d6c1c1;
	height: 100%;
    width: 10%;
} */

/* 以上为左侧导航条展示 */


/*tab*/
    .slideTxtBox{ 
    width:100%; 
    border:1px solid #ddd; 
    text-align:left;  }

    .slideTxtBox .hd{
     height:30px;
     line-height:30px; 
     background:#f4f4f4; 
     padding:0 10px 0 20px;  
      border-bottom:1px solid #ddd; 
      position:relative;
       }

    .slideTxtBox .hd ul{
     float:left;  
      position:absolute;
      left:20px;
      top:-1px;
      height:32px;  
      }

    .slideTxtBox .hd ul li{
     float:left; 
      padding:0 15px; 
      cursor:pointer;  
      }

    .slideTxtBox .hd ul li.on{ 
    height:30px; 
     background:#fff; 
     border:1px solid #ddd; 
     border-bottom:2px solid #fff; 
     }

    .slideTxtBox .bd ul{ 
    padding:15px;  
    zoom:1;  }
.parentchild_form{
  width: 60%;
  font-size: 20px;
  margin-left: 25px;
}
.parentchild_form .form-group{
  width: 100%;
  height: 20px;
  padding-top: 40px;
}

/*3675*/
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /* margin-left: 80px; */
    margin-right: auto;
    margin-top: 50px;
    background-color: #d9edf7;
    padding-left: 150px;
}

.tab-content > .active {
    display: block;
    visibility: visible;
    background-color: #f5f5f5;
    margin-top: 30px;
}
.form_table{
  font-size: 15px;
}
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 300px;*/
    margin-top: 50px;
}
.table th, .table td {
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: normal;
}
.right_contain{
 /* background-color: #e33333;*/
/*  width: 100px;*/
  height: 100%;
}
.right_header{
width: 88%;
    height: 60px;
    z-index: 1000;
    margin: 0 0 20px;
    background: #e9ecf1;
    margin-top: 35px;
    float: right;
}
.right_content{
	/*background-color: #ffffff;*/
	margin-top: 20px;
	width: 88%;
  float: right;

}

/*2358*/
.form-control1 {
  display: block;
  width: 80%;
 /* height: 34px;*/
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control1:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control1::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control1:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control1[disabled],
.form-control1[readonly],
fieldset[disabled] .form-control1 {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control1 {
  height: auto;
}
tr{
   height: 30px;
}
.button_type{
  width: 15%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
}
input[type="file"]{
  width: 188px;
}
 /*h2{
 	margin-left: 65px;
 	}*/


}


/*瀛淇℃绠＄*/

.form-inline{
  width: 100%;
  float: right;
}

.form-group{
padding-left: 70px;
}
.table_button{
  position: relative;
}
.table_button button{
     margin-top: 6px;
    padding-left: 15px;
    display: inline-block;
    font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;

  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;

}
.table_button{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  position: relative;
}
.form_table{
 /* margin-top: 50px;*/
font-size: 15px;
margin-left: 10px;
margin-right: 10px;
}

.table_button1 button{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:10px;    
    display: inline-block;
    font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
 /* border-radius: 1px;*/

  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.table_button1{
  margin-left: 20px;
  margin-top: -25px;
}
.tab_cotent
{
  background-color: #eeeeee;
  width: 100%;
  height: 490px;
   margin-top: 20px;
}

/*浜插娲诲ㄤ俊琛*/
.btn2{
      display: inline-block;
   /* padding: 6px 12px;*/
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*家长个人首页css*/
.account-basic {
    border-bottom: 1px dashed #dedede;
    padding: 20px 0;
    margin-top: -30px;
    padding-left: 20px;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
account-basic dt {
    width: 105px;
}
.pull-left {
    float: left!important;
}
dt {
    font-weight: 700;
}
dd, dt {
    line-height: 1.42857143;
}


.account-head {
    width: 105px;
    height: 105px;
}

p, .p {
    line-height: 25px;
}
p {
    margin: 0 0 10px;
}
.account-head img {
    width: 105px;
    height: 105px;
    border-radius: 15px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.margin-small-top {
    margin-top: 5px;
}
.margin-large-left {
    margin-left: 30px;
}
.pull-left {
    float: left!important;
}
dd {
    margin-left: 0;
}
dd, dt {
    line-height: 1.42857143;
}
.account-basic dd p {
    line-height: 32px;
}
.text-small {
    font-size: 12px !important;
}

p, .p {
    line-height: 25px;
}
p {
    margin: 0 0 10px;
}